
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        color: black;
    }

    html {
        background-color: rgb(160, 213, 226);
    }

    .menu {
        display: flex;
        position: relative;
        justify-content: center;
    }

    .menu-item {
        display: flex;
        gap: 100px;
        position: relative;
    }

    .menu-button, .contactBtn {
        font-size: 200%;
        border: 1px solid black;
        background-color: white;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .menu-button:hover, .contactBtn:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .header {
        display: flex;
        position: relative;
        justify-content: center;
        margin-top: 2%;
    }

    .weather {
        display: flex;
        justify-content: center;
        margin-left: 15%;
        margin-top: 5%;
        padding: 1%;
        margin-right:15%;
        background-color: rgba(69, 77, 126, 0.438);
        border-radius: 10px;
    }

    .weather-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap:20px;
    }

    .weatherCard {
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.452);
        text-align: center;
        background-color: rgba(255, 255, 255, 0.363);
    }

    .modalWindow {
        display: none;
        justify-content: center;
        margin-top: 5%;
        margin-left: 45%;
        margin-right: 45%;
        background-color: rgba(0, 0, 0, 0.322);
        border-radius: 10px;
    }

    .modalWindowContent {
        z-index: 2;
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 25px;
        text-align: center;
    }

    .contactBtnSend {
        margin-left: 20%;
        margin-right: 20%;
        border-radius: 5px;
        border: 1px solid white;
        transition: all 0.3s ease;
    }

    .contactBtnSend {
        transform: scale(1.1);
        cursor: pointer;
    }

    .overlay {
        display: none;
        width: 100%;
        height: 100%;
        z-index: 1;
        position: fixed;
        left: 0;
        top:0;
        background-color: rgba(0, 0, 0, 0.404);
    }

    .contactH1 {
        color: white;
    }

    .modalCloseBtn {
        position: absolute;
        background-color: rgba(255, 0, 0, 0.534);
        border: none;
        border-radius: 360px;
        right: 46%;
        top: 26%;
        width: 10px;
        height: 10px;
        transition: all 0.3s ease;
    }

    .modalCloseBtn:hover {
        cursor: pointer;
        transform: scale(1.1);
    }