
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        color: black;
    }

    html {
        background-color: rgb(160, 213, 226);
    }

    .menu {
        display: flex;
        position: relative;
        justify-content: center;
    }

    .menu-item {
        display: flex;
        gap: 100px;
        position: relative;
    }

    .menu-button {
        font-size: 200%;
        border: 1px solid black;
        background-color: white;
        border-radius: 10px;
        transition: all 0.3s ease;
    }

    .menu-button:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .header {
        display: flex;
        position: relative;
        justify-content: center;
        margin-top: 2%;
    }

    .weather {
        display: flex;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .weather-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:20px;
    }

    .weatherCard {
        display: flex;
        flex-direction: column;
    }